@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

$main-color: #1868DB;

$background-main: #FFFFFF;
$background-secondary: #F1F2F4;
$background-dark:#0f234641;

$border:#0f23462c;

$text-main: #0F2346;
$text-secondary: #5E6B82;
$text-light: #ffffff;

body {
    background-color: $main-color;

    display:grid;
    grid-template-rows: auto 1fr;
    overflow: scroll;
    user-select: none;
}

.app-header {
    padding:24px;
    width:100%;

    position: fixed;
    z-index: 99999;

    background-color: $main-color;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-project-name-wrapper {
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-left: 6px;

    color: $text-light;
}

.app-project-name-wrapper:hover, .app-project-name-wrapper:focus-within {
    background-color: $background-dark;
    border-radius:10px;
}


.app-project-name-input {
    width: 200px;
    padding: 6px 6px;

    background-color:transparent;
    outline: transparent;
    border: none;


    font-weight: 600;
    font-size: 16px;
    color: $text-light;
}

.app {
    min-height: calc(100vh - 80px);
    width: 100%;

    overflow: visible;

    display:flex;
    flex-direction: row;

    position: relative;

    padding-top: 80px;
    
}

.app-column {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    height: fit-content;
    margin-left: 12px;

    margin-top: 1.5px;
}

.create-column-button {
    width: 100%;
    height: 44px;
    border-radius:22px;

    background-color:$background-dark;
    outline: transparent;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

    font-weight: 500;
    font-size: 16px;
    color: $text-light;

    cursor:pointer;

    transition: all 0.2s cubic-bezier(.71,-0.01,0,1.05);

    svg {
        margin-right: 6px;
        width:18px;
        height:18px;
    }
}

.create-column-button:hover {
    filter: brightness(1.5);
}

.create-column-button:active {
    transform: scale(0.96, 0.95);
    filter: brightness(2);
}

.app-custom-column {
    min-height: 88px;
    border-radius:22px;
    background-color: $background-secondary;

    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.75) inset, 0px 0px 0px 1.5px rgba(0, 0, 0, 0.1);
}

.app-column-header {
    height:55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 18px;
    padding-right: 12px;
}

.column-title {
    font-size: 16px;
    color: $text-main;
}

.column-header-left {
    display:flex;
    flex-direction:row;
    align-items: center;
}

.column-button, .app-create-card {
    width: 32px;
    min-width: 32px;
    height: 32px;

    display:flex;
    align-items: center;
    justify-content: center;

    margin-left: 6px;

    border-radius: 20px;
    
    color: $text-secondary;

    background-color:transparent;
    outline: transparent;
    border: none;
    cursor: pointer;

    transition: all 0.2s cubic-bezier(.71,-0.01,0,1.05);

    >svg {
        width: 18px;
        height: 18px;
    }

    &:hover {
        background-color: $background-main;
    }
    &:active {
        transform: scale(0.9);
    }
}

.column-content-container {
    padding: 0px 12px;
    max-height: calc(100dvh - 290px);
    overflow-y: scroll;
    :last-child {
        margin-bottom: 0px !important;
    }
}

.columns {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.app-create-card {
    border-radius: 16px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 0px;
    font-size: 16px;

    font-weight: 500;
    
    >svg {
        margin: 0px 8px;
    }

    &:active {
        transform: scale(0.98, 0.95);
    }
}

.app-column-footer {
    height:55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 12px;
    padding-left: 10px;

}

.app-card {
    background-color: rgba($border, 0.05);
    border-radius: 12px;
    margin-bottom: 6px;

    height: fit-content;
    position: relative;
}

.draggable-card {
    padding: 12px 12px 12px 12px;

    position: absolute;
    width: 276px;

    >p {
        padding: 0px 2px;
    }

    background-color: $background-main;
    border: 1.5px solid $border;
    border-bottom: 2px solid $border;
    border-radius: 12px;

    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.app-card-menu-bar {
    height: 20px;
    margin-top: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-card-edit-button {
    width: 20px;
    min-width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $text-secondary;

    background-color:transparent;
    outline: transparent;
    border: none;

    overflow: hidden;

    :hover {
        background-color: $background-secondary;
    }

    cursor: pointer;

    >svg {
        border-radius: 6px;
        width: 18px;
        height: 18px;
    }
}

.app-card-chip {
    height: 20px;
    background-color: $background-secondary;
    padding: 2px 8px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;

    >svg {
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }
}

.app-card-chip-date {
    background-color: #26d92c26;
    color: #26D92C;
    display: none;
}

.app-upload-download-button-wrapper {
    height: 32px;

    background-color: $background-secondary;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid $background-main;
    border-bottom: 1px solid $background-secondary;

    box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 0.05);

    >button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        border: none;
        outline: none;
        background-color: $background-main;

        height: 32px;

        cursor: pointer;

        font-weight: 600;

        color: $text-main;

        &:hover {
            background-color: $background-secondary;
        }

        >svg {
            width: 18px;
        }
    }
}

.app-download-button {
    padding: 0px 8px;
    margin-right: 1px;

    >svg {
        margin-right: 6px;
    }
}

.app-download-menu-button {
    width: 32px;
    padding-right: 2px;
}

.app-column-create-card {
    padding: 0px 12px;
    margin: 12px 0px;

    display: none;
    
}

.app-create-card-input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 73px;
    padding: 12px;
    background-color: $background-main;
    border: none ;
    border-radius: 12px;
    resize: none;
    margin-bottom: 6px;
}

.app-generate-card-button {
    background-color: $main-color;
    color: white;
    outline: transparent;
    border: none;

    border-radius: 100px;
    padding: 0px 12px;

    width: fit-content;
    height: 32px;

    font-size: 16px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    >svg {
        width: 18px;
        margin-right: 4px;
    }

    transition: all 0.2s cubic-bezier(.71,-0.01,0,1.05);
    
    &:hover {
        filter: brightness(1.1);
    }

    &:active {
        transform: scale(0.96, 0.95);
        filter: brightness(1.2);
    }
}

.app-close-button {
    width: 32px;
    height: 32px;

    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    background-color: $background-main;

    margin-left: 6px;

    cursor: pointer;

    >svg {
        width: 18px;
    }

    transition: all 0.2s cubic-bezier(.71,-0.01,0,1.05);

    &:hover {
        filter: brightness(1.1);
    }

    &:active {
        transform: scale(0.9);
        filter: brightness(1.2);
    }
}

.app-column-button-row {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}